.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.title {
  font-family: PT Serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: black; }

.trans-btn {
  background-color: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  color: white;
  transition: all 0.2s linear; }
  .trans-btn:hover {
    background-color: white;
    color: black; }

.blue-btn {
  background: #0061D9;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  width: 300px;
  height: 60px;
  transition: background 0.1s linear; }
  .blue-btn:hover {
    background: #004395; }

.blue-border-btn {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #0050B2;
  background: transparent;
  border: 1px solid #0061D9;
  cursor: pointer;
  border-radius: 30px;
  width: 300px;
  height: 60px;
  transition: background 0.1s linear, color 0.1s linear, border 0.1s linear; }
  .blue-border-btn:hover {
    border: 1px solid #004395;
    background: #004395;
    color: white; }

.divid-bot::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 100%;
  height: 1px;
  content: '';
  background: #C4C4C4; }

.path {
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  position: absolute;
  top: 22px; }
  .path__link {
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; }
    .path__link:hover {
      text-decoration: underline; }
  .path--dark {
    color: #76767A; }
    .path--dark .path__link {
      color: #76767A; }

.header {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 11; }
  .header__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0; }
    .header__content::after {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
      opacity: 0.3;
      width: 100vw;
      height: 1px;
      content: "";
      background: #c4c4c4; }
  .header__left {
    display: flex;
    align-items: center; }
  .header__logo-text {
    margin-left: 20px; }
  .header__name {
    font-family: "PT Serif";
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px; }
  .header__subname {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: black; }
  .header__right {
    display: flex;
    align-items: center; }
  .header__num, .header__mail {
    display: flex;
    align-items: center; }
  .header__num-text, .header__mail-text {
    color: #fff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin-left: 13px;
    color: black; }
  .header__num {
    margin-right: 33px; }
  .header__mail {
    margin-right: 45px; }
  .header__btn {
    height: 44px;
    width: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px; }
  .header__nav {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 15px; }
  .header__nav-items {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: black;
    position: relative; }
    .header__nav-items + .header__nav-items {
      margin-left: 32px; }
    .header__nav-items::after {
      position: absolute;
      height: 2px;
      width: 100%;
      content: "";
      bottom: -6px;
      left: 0;
      opacity: 0;
      background-color: #000;
      transition: opacity 0.1s linear; }
    .header__nav-items:hover::after {
      opacity: 1; }

.register {
  background-color: #F5F5F7;
  padding-top: 48px;
  padding-bottom: 80px; }
  .register input,
  .register textarea {
    background-color: #fff;
    border: 1px solid #D9D9DE;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #76767A;
    padding-left: 14px;
    padding-top: 11px;
    resize: none; }
  .register input {
    height: 44px;
    padding-left: 14px;
    padding-top: 0; }
  .register__title {
    margin-bottom: 51px;
    text-align: center; }
  .register__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    margin-bottom: 24px; }
  .register__middle {
    display: grid;
    grid-template-columns: 153px 1fr;
    -moz-column-gap: 24px;
    column-gap: 24px;
    row-gap: 24px; }
  .register__middle-items--big {
    grid-column: 2/-1;
    grid-row: 1/3; }
  .register__bot {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .register__bot-checkbox {
    display: flex; }
  .register__bot-input {
    z-index: -1;
    opacity: 0; }
  .register__bot-link {
    text-decoration: underline;
    font-family: Roboto;
    font-size: 16px;
    color: #76767A;
    font-weight: 400;
    line-height: 21px; }
  .register__bot-input + label {
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .register__bot-input + label::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #76767A;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%; }
  .register__bot-input:checked + label::before {
    background-image: url("../img/check-mark.svg");
    background-position: center center; }

.footer {
  background: #202020;
  padding-top: 35px;
  padding-bottom: 45px; }
  .footer__top {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 40px; }
    .footer__top::after {
      opacity: 0.2; }
  .footer__items {
    display: flex;
    flex-direction: column; }
  .footer__title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: white; }
    .footer__title:hover {
      text-decoration: underline; }
  .footer__link {
    color: rgba(255, 255, 255, 0.7);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 10px; }
    .footer__link:hover {
      text-decoration: underline; }
  .footer__bot {
    margin-top: 30px;
    display: flex;
    justify-content: space-between; }
  .footer__bot-left {
    display: flex;
    gap: 60px; }
  .footer__bot-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .footer__bot-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: white;
    margin-bottom: 7px; }
  .footer__bot-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.7); }
  .footer__bot-right-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    text-decoration: underline; }
  .footer__bot-img {
    margin-top: 20px;
    height: 22px; }

.header-type-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  .header-type-1__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0; }
    .header-type-1__content::after {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
      opacity: 0.3;
      width: 100vw;
      height: 1px;
      content: '';
      background: #C4C4C4; }
  .header-type-1__left {
    display: flex;
    align-items: center; }
  .header-type-1__logo-text {
    margin-left: 20px; }
  .header-type-1__name {
    font-family: "PT Serif";
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px; }
  .header-type-1__subname {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #fff; }
  .header-type-1__right {
    display: flex;
    align-items: center; }
  .header-type-1__num, .header-type-1__mail {
    display: flex;
    align-items: center; }
  .header-type-1__num-text, .header-type-1__mail-text {
    color: #fff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin-left: 13px; }
  .header-type-1__num {
    margin-right: 33px; }
  .header-type-1__mail {
    margin-right: 45px; }
  .header-type-1__btn {
    height: 44px;
    width: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px; }
  .header-type-1__nav {
    display: flex;
    align-items: center;
    margin-top: 20px; }
  .header-type-1__nav-items {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #fff;
    position: relative; }
    .header-type-1__nav-items + .header-type-1__nav-items {
      margin-left: 32px; }
    .header-type-1__nav-items::after {
      position: absolute;
      height: 2px;
      width: 100%;
      content: '';
      bottom: -6px;
      left: 0;
      opacity: 0;
      background-color: #fff;
      transition: opacity 0.1s linear; }
    .header-type-1__nav-items:hover::after {
      opacity: 1; }

.intro {
  width: 100vw;
  height: 100vh;
  background: url(../img/intro.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover; }
  .intro .container {
    height: 100%;
    position: relative; }
  .intro__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
  .intro__content {
    color: white; }
  .intro__title {
    font-family: PT Serif;
    font-size: calc(40px + 50 * (100vw / 1135));
    font-weight: 700;
    line-height: calc(52px + 65 * (100vw / 1135)); }
  .intro__subtitle {
    font-family: Roboto;
    font-size: calc(14px + 6 * (100vw / 1135));
    font-weight: 400;
    line-height: calc(20px + 8 * (100vw / 1135)); }
  .intro__btn {
    margin-top: 70px;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase; }
  .intro__arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
    border: none;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: background 0.1s linear; }
    .intro__arrow:hover {
      background: #fff; }
      .intro__arrow:hover .intro__arrow-img path {
        stroke: black; }
  .intro__arrow-img {
    margin-top: 2px; }
    .intro__arrow-img path {
      transition: stroke 0.1s linear; }

.navigation {
  margin: 62px 0; }
  .navigation__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 32px;
    column-gap: 32px;
    row-gap: 32px; }
  .navigation__item {
    border-radius: 6px;
    border: 1px solid #D9D9DE;
    background-color: #fff; }
    .navigation__item:hover .navigation__text {
      color: #D51A1A; }
  .navigation__img {
    width: 100%;
    height: auto; }
  .navigation__text {
    padding: 17px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: black;
    transition: color 0.1s linear; }

.way {
  background-color: rgba(112, 207, 41, 0.07);
  padding: 50px 0; }
  .way__title {
    text-align: center;
    margin-bottom: 50px; }
  .way__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 35px;
    column-gap: 35px;
    row-gap: 35px; }
  .way__img {
    margin-bottom: 15px; }
  .way__text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #333333; }

.offers {
  margin-top: 80px;
  padding-bottom: 50px;
  position: relative; }
  .offers__title {
    margin-bottom: 40px; }
  .offers__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 32px;
    column-gap: 32px;
    row-gap: 32px; }
  .offers__items {
    position: relative;
    width: 100%;
    overflow: hidden; }
    .offers__items:hover .offers__items-img {
      transform: scale(1.2); }
    .offers__items--big {
      grid-column: 3/-1;
      grid-row: 1/3; }
  .offers__items-name, .offers__items-price {
    position: absolute;
    z-index: 4;
    color: white;
    max-width: 100%;
    padding: 0 15px; }
  .offers__items-name {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    top: 15px; }
    .offers__items-name--big {
      font-size: 22px; }
    .offers__items-name--last {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      line-height: 29px; }
  .offers__items-price {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    bottom: 15px; }
  .offers__items-img {
    width: 100%;
    transition: transform 0.1s linear; }
  .offers__items-darkning {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, transparent 48.44%, transparent 76.04%, #000000 100%);
    border-radius: 6px; }
    .offers__items-darkning--last {
      background: rgba(0, 0, 0, 0.5); }

.map {
  margin-top: 70px; }
  .map__title {
    text-align: center;
    margin-bottom: 30px; }
  .map__map {
    width: 100%;
    height: 609px; }

.about {
  margin-top: 76px;
  margin-bottom: 80px; }
  .about__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .about__left {
    max-width: 408px;
    position: relative; }
  .about__title {
    margin-bottom: 20px; }
  .about__text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #333333; }
  .about__link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #76767A;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: color 0.1s linear; }
    .about__link:hover {
      color: #D51A1A; }
  .about__video-block {
    position: relative;
    height: 100%; }
  .about__video {
    height: 100%; }
  .about__darkning {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 2px);
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: block; }
    .about__darkning--active {
      opacity: 0; }
  .about__start {
    cursor: pointer;
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .about__start--active {
      opacity: 0; }

.gallery {
  background: rgba(63, 169, 245, 0.07);
  padding-top: 50px;
  padding-bottom: 80px; }
  .gallery .slick-track {
    display: flex;
    gap: 32px; }
  .gallery__inner {
    overflow: hidden; }
  .gallery__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; }
  .gallery__link {
    color: #0050B2;
    transition: color 0.1s linear;
    text-decoration: underline;
    margin-right: 55px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px; }
    .gallery__link:hover {
      color: #D51A1A; }
  .gallery__arrow {
    cursor: pointer;
    padding: 16px 20px 16px 18px;
    border-radius: 50%;
    border: 1px solid #0061D9; }
  .gallery__arrow--left {
    margin-right: 20px;
    padding: 16px 20px 16px 18px; }
  .gallery__arrow--right {
    transform: rotate(-180deg); }
  .gallery__items {
    display: flex;
    flex-direction: column; }
  .gallery__img + .gallery__img {
    margin-top: 32px; }

.advantages {
  margin-top: 80px;
  padding-bottom: 55px;
  position: relative; }
  .advantages__title {
    font-size: 44px;
    text-align: center;
    margin-bottom: 44px; }
  .advantages__content {
    display: flex;
    justify-content: space-between; }
  .advantages__left {
    position: relative; }
  .advantages__img--right {
    position: absolute;
    top: 160px;
    left: 58px;
    border: 10px solid #fff; }
  .advantages__text {
    max-width: 701px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #333333; }
    .advantages__text + .advantages__text {
      margin-top: 10px; }

.info {
  margin-top: 40px;
  margin-bottom: 80px; }
  .info__list {
    display: flex;
    justify-content: space-between;
    gap: 37px; }
  .info__items {
    max-width: 279px; }
  .info__text {
    font-family: PT Serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 75px;
    color: #64BD22; }
  .info__undertext {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px; }

.toursbase-intro {
  height: calc(100vh - 128px);
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../img/toursbase-intro.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .toursbase-intro .container {
    height: 100%;
    width: 100%;
    position: relative; }
  .toursbase-intro__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .toursbase-intro__link:hover {
    text-decoration: underline; }
  .toursbase-intro__title {
    text-align: center;
    color: white;
    font-size: calc(29px + 15 * (100vw / 1370));
    line-height: calc(39px + 19 * (100vw / 1370)); }
    @media (max-width: 736px) {
      .toursbase-intro__title {
        font-size: calc(29px + 15 * ((100vw - 320) / 1370)); } }

.toursbase-content {
  margin-top: 80px;
  margin-bottom: 80px; }
  .toursbase-content__info {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: black;
    margin-bottom: 50px; }
  .toursbase-content__link {
    color: #0050B2;
    text-decoration: underline;
    transition: color 0.1s linear; }
    .toursbase-content__link:hover {
      color: #D51A1A; }
  .toursbase-content__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #F5F5F7;
    -moz-column-gap: 32px;
    column-gap: 32px;
    border-radius: 6px;
    overflow: auto; }
    .toursbase-content__items + .toursbase-content__items {
      margin-top: 32px; }
  .toursbase-content__middle {
    margin-top: 21px; }
  .toursbase-content__middle-title {
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 17px; }
  .toursbase-content__middle-text {
    color: #333333;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 18px; }
  .toursbase-content__middle-btn {
    width: 156px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px; }
  .toursbase-content__end {
    margin-top: 21px;
    margin-right: 16px;
    position: relative; }
    .toursbase-content__end::after {
      position: absolute;
      content: '';
      height: calc(100% - 20px);
      width: 2px;
      background-color: #D9D9DE;
      top: 0px;
      left: -16px; }
  .toursbase-content__end-title {
    color: #76767A;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 17px; }
  .toursbase-content__end-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: 265px; }
    .toursbase-content__end-list::-webkit-scrollbar {
      width: 8px;
      background-color: #D9D9DE;
      border-radius: 4px; }
    .toursbase-content__end-list::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #76767A; }
  .toursbase-content__end-link {
    color: #0050B2;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 10px; }
    .toursbase-content__end-link:hover {
      text-decoration: underline; }

.tour-content .container {
  position: relative; }

.tour-content__inner {
  padding-top: 110px;
  padding-bottom: 70px;
  display: flex;
  gap: 32px; }

.tour-content__menu {
  display: block; }

.tour-content__title {
  font-size: 44px;
  line-height: 58px;
  margin-bottom: 50px; }

.tour-content__img {
  border-radius: 6px;
  margin-bottom: 30px; }

.tour-content__text {
  color: #333333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; }
  .tour-content__text + .tour-content__text {
    margin-top: 15px; }

.menu {
  border-radius: 6px;
  background: #F5F5F7;
  min-width: 350px;
  max-width: 350px;
  padding: 30px 25px 25px 25px; }
  .menu__item + .menu__item {
    margin-top: 15px; }
  .menu__title {
    color: #76767A;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 20px; }
  .menu__link {
    color: #0050B2;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    transition: color 0.1s linear, -webkit-text-decoration 0.1s linear;
    transition: color 0.1s linear, text-decoration 0.1s linear;
    transition: color 0.1s linear, text-decoration 0.1s linear, -webkit-text-decoration 0.1s linear; }
    .menu__link:hover {
      color: #D51A1A;
      text-decoration: underline; }
    .menu__link--active {
      color: #64BD22; }
      .menu__link--active:hover {
        color: #64BD22;
        text-decoration: none; }

.tour-choice {
  margin-top: 60px;
  margin-bottom: 80px; }
  .tour-choice__title {
    text-align: center;
    margin-bottom: 50px; }
  .tour-choice__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 32px;
    column-gap: 32px;
    row-gap: 32px; }
  .tour-choice__items {
    border: 1px solid #D9D9DE;
    border-radius: 6px;
    overflow: hidden; }
    .tour-choice__items:hover .tour-choice__img {
      transform: scale(1.2); }
  .tour-choice__img {
    width: 100%;
    transition: transform 0.1s linear; }
  .tour-choice__items-title {
    padding-top: 16px;
    padding-left: 15px;
    position: relative;
    z-index: 10;
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    background-color: white; }
  .tour-choice__items-price {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
    color: #333333;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px; }

/*# sourceMappingURL=main.css.map */
